<div class="content-wrapper" style="padding-top: 40px;">
   <section class="content">
      <div class="row">
         <div class="col-sm-12" style="padding-left: 0px; padding-right: 0px;">
            <div id="welcome" style="background-color:#1e282c;">
            </div>
         </div>
         <div class="row">
            <div class="col-sm-12 col-md-12" style="padding-left: 25px; padding-right: 25px;">
               <div class="box box-danger">
                  <div class="box-body">
                     Sample text Lorem ipsum dolor sit amet, consectetuer adipiscing lit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet 
                     <br><br>
                     <button class="btn btn-danger">Get started</button>
                  </div>
                  
               </div>
            </div>
         </div>
      </div>
   </section>
</div>