<div>
    <header id="head">
        <!-- Logo -->
        <a id="logo">
            <!-- <span><b>My.IIT</b></span> -->
        </a>
        <!-- Header Navbar -->
        <nav id="rightnav">
            <!-- Sidebar toggle button-->
            <div id="tognav">
            </div>
            <!-- Navbar Right Menu -->
            <div id="userna">
                <ul>
                                    <!-- User Account Menu -->
                    <li>
                        <!-- Menu Toggle Button -->
                        <a>
                            <!-- The user image in the navbar-->
                            <div id="proficon"></div>
                            <span id="rightname">NAME NANAME NAME</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>    
    <div class="clearfloat"></div>
    <section id="userpanel">
            <!-- Sidebar user panel (optional) -->
            <div>
                <div id="prof">
                </div>
                <div id="profname">
                NAME NANAME NAME
                </div>
            </div>
            <!-- Sidebar Menu -->
            <ul id="menu">
                <li><div id="log1"></div><a href="test2.html">Home</a></li>
                <li><div id="log2"></div><a href="submitform.html">Submit Form</a></li>
                <li><div id="log3"></div><a href="scheduling.html">Counseling Schedule</a></li>
                <li><div id="log4"></div><a href="helpful.html">Helpful Resources</a></li>
                <li><div id="log5"></div><a href="">Logout</a></li>
            </ul><!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar --> 	
    <div id="main">
        <h1 id="hr">Helpful Resources</h1>
        <div class="Helpful" id="Bulletin">
            <a>Announcements</a>    
            <text class="desc2">
                Sample text Lorem ipsum dolor sit amet, consectetuer adipiscing lit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pre. 
            </text>
            <ul class="hrlist">
                <li>Sample text Lorem ipsum dolor sit amet, conse</li>
                <li>Arius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies.</li>
                <li>Nulla consequat massa quis enim. Donec pede justo, fringilla vel</li>
                <li>Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. </li>
                <li>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem a</li>
                <li>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo.</li>	
            </ul>
        </div>
        <div class="Helpful" id="Selfhelp">
            <a>Self-Help Resources</a>
            <text class="desc2">
                Sample text Lorem ipsum dolor sit amet, consectetuer adipiscing lit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. arius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies. 
            </text>
            <ul class="hrlist">
                <li>Sample text Lorem ipsum dolor</li>
                    <ul class="hrlinks">
                        <li> <a href="">http://www.testinglink.com</a></li>
                    </ul>
                <li>Arius laoreet. Quisque rutrum</li>
                    <ul class="hrlinks">
                        <li> <a href="">http://www.testinglink.com</a></li>
                        <li> <a href="">http://www.testinglink.com</a></li>
                        <li> <a href="">http://www.testinglink.com</a></li>
                    </ul>
                <li>Nulla consequat massa quis enim. Donec pede justo</li>
                    <ul class="hrlinks">
                        <li> <a href="">http://www.testinglink.com</a></li>
                    </ul>
                <li>Etiam ultricies nisi vel augue.  </li>
                    <ul class="hrlinks">
                        <li> <a href="">http://www.testinglink.com</a></li>
                        <li> <a href="">http://www.testinglink.com</a></li>
                    </ul>
                <li>Aenean leo ligula, porttitor eu, consequat vitae</li>
                    <ul class="hrlinks">
                        <li> <a href="">http://www.testinglink.com</a></li>
                    </ul>
                <li>Donec pede justo, fringilla vel, aliquet nec, vulputate eget</li>
                    <ul class="hrlinks">
                        <li> <a href="">http://www.testinglink.com</a></li>
                        <li> <a href="">http://www.testinglink.com</a></li>
                    </ul>
            </ul>
        </div>
        <div class="Helpful" id="Contacts">
            <a>Contacts</a>
            <ul class="hrlist">
                <li>(OGC) Office of the Guidance Counselor</li>
                    <ul class="hrlinks">
                        <li>09XXXXXXXX18</li>
                        <li>testemail@yahoo.com</li>
                    </ul>
                <li>Philippine Center for Mental Health Crisis Hotline</li>
                    <ul class="hrlinks">
                        <li>09663514518</li>
                        <li>09067891928</li>
                        <li>09664958938</li>
                    </ul>
                <li>Nulla consequat massa</li>
                    <ul class="hrlinks">
                        <li>09XXXXXXXX18</li>
                    </ul>
                <li>Etiam ultricies</li>
                    <ul class="hrlinks">
                        <li>testemail@yahoo.com</li>
                    </ul>
                <li>Aenean leo ligula</li>
                    <ul class="hrlinks">
                        <li>09XXXXXXXX18</li>
                    </ul>
                <li>Donec pede justo</li>	
                    <ul class="hrlinks">
                        <li>09XXXXXXXX18</li>
                        <li>testemail@yahoo.com</li>
                    </ul>
            </ul>
        </div>

        <div class="clearfloat">
    </div>
</div>