<div>
  <header id="head">
      <!-- Logo -->
      <a id="logo">
          <!-- <span><b>My.IIT</b></span> -->
      </a>
      <!-- Header Navbar -->
      <nav id="rightnav">
          <!-- Sidebar toggle button-->
          <div id="tognav">
          </div>
          <!-- Navbar Right Menu -->
          <div id="userna">
              <ul>
                                  <!-- User Account Menu -->
                  <li>
                      <!-- Menu Toggle Button -->
                      <a>
                          <!-- The user image in the navbar-->
                          <div id="proficon"></div>
                          <span id="rightname">NAME NANAME NAME</span>
                      </a>
                  </li>
              </ul>
          </div>
      </nav>
  </header>    
  <div class="clearfloat"></div>
  <section id="userpanel">
        <!-- Sidebar user panel (optional) -->
          <div>
              <div id="prof">
              </div>
              <div id="profname">
              NAME NANAME NAME
              </div>
          </div>
        <!-- Sidebar Menu -->
          <ul id="menu">
              <li><div id="log1"></div><a href="test2.html">Home</a></li>
              <li><div id="log2"></div><a href="submitform.html">Submit Form</a></li>
              <li><div id="log3"></div><a href="scheduling.html">Counseling Schedule</a></li>
              <li><div id="log4"></div><a href="helpful.html">Helpful Resources</a></li>
              <li><div id="log5"></div><a href="">Logout</a></li>
          </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar --> 	
  <div id="main">
      <div class="leftdate">
          <a class="seldate">Select Date</a>
          <div class="clearfloat"></div>
          <a class="monthyear">November 2022</a>
          <div class="clearfloat"></div>
          <table class="table">
              <tr class="firstrow">
                  <th><div>SUN</div></th>
                  <th><div>MON</div></th>
                  <th><div>TUE</div></th>
                  <th><div>WED</div></th>
                  <th><div>THU</div></th>
                  <th><div>FRI</div></th>
                  <th><div>SAT</div></th>
              </tr>
              <tr class="days">
                  <th><div></div></th>
                  <th><div></div></th>
                  <th><div>1</div></th>
                  <th><div>2</div></th>
                  <th><div>3</div></th>
                  <th><div>4</div></th>
                  <th><div>5</div></th>
              </tr>
              <tr class="days">
                  <th><div>6</div></th>
                  <th><div>7</div></th>
                  <th><div>8</div></th>
                  <th><div>9</div></th>
                  <th><div>10</div></th>
                  <th><div>11</div></th>
                  <th><div>12</div></th>
              </tr>
              <tr class="days"> 
                  <th><div>13</div></th>
                  <th><div>14</div></th>
                  <th><div>15</div></th>
                  <th><div>16</div></th>
                  <th><div>17</div></th>
                  <th><div>18</div></th>
                  <th><div>19</div></th>
              </tr>
              <tr class="days">
                  <th><div>20</div></th>
                  <th><div>21</div></th>
                  <th><div>22</div></th>
                  <th><div>23</div></th>
                  <th><div>24</div></th>
                  <th><div>25</div></th>
                  <th><div>26</div></th>
              </tr>
              <tr class="days">
                  <th><div>27</div></th>
                  <th><div>28</div></th>
                  <th><div>29</div></th>
                  <th><div>30</div></th>
                  <th><div></div></th>
                  <th><div></div></th>
                  <th><div></div></th>
              </tr>
              </table>
      </div>    
      <div class="righttime">
          <a class="seltime">Select Time</a>
          <div class="clearfloat"></div>
          <ul>
              <li><a class="time">9:00 am</a></li>
              <li><a class="time">10:00 am</a></li>
              <li><a class="time">11:00 am</a></li>
              <li><a class="time">12:00 pm</a></li>
              <li><a class="time">1:00 pm</a></li>
              <li><a class="time">2:00 pm</a></li>
              <li><a class="time">3:00 pm</a></li>
              <li><a class="time">4:00 pm</a></li>
              <li><a class="time">5:00 pm</a></li>
              <li id="applybut"><a class="time" >Apply Now</a></li>
          </ul>
      </div>
  </div>
</div>
  