<div>
    <header id="head">
        <!-- Logo -->
        <a id="logo">
            <!-- <span><b>My.IIT</b></span> -->
        </a>
        <!-- Header Navbar -->
        <nav id="rightnav">
            <!-- Sidebar toggle button-->
            <div id="tognav">
            </div>
            <!-- Navbar Right Menu -->
            <div id="userna">
                <ul>
                                    <!-- User Account Menu -->
                    <li>
                        <!-- Menu Toggle Button -->
                        <a>
                            <!-- The user image in the navbar-->
                            <div id="proficon"></div>
                            <span id="rightname">NAME NANAME NAME</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>    
    <div class="clearfloat"></div>
    <section id="userpanel">
            <!-- Sidebar user panel (optional) -->
            <div>
                <div id="prof">
                </div>
                <div id="profname">
                NAME NANAME NAME
                </div>
            </div>
            <!-- Sidebar Menu -->
            <ul id="menu">
                <li><div id="log1"></div><a href="test2.html">Home</a></li>
                <li><div id="log2"></div><a href="submitform.html">Submit Form</a></li>
                <li><div id="log3"></div><a href="scheduling.html">Counseling Schedule</a></li>
                <li><div id="log4"></div><a href="helpful.html">Helpful Resources</a></li>
                <li><div id="log5"></div><a href="">Logout</a></li>
            </ul><!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar --> 	
    <div id="main">
        <div class="form">
            <a>Needs Assessment Survey</a>    
            <text class="desc">
                Sample text Lorem ipsum dolor sit amet, consectetuer adipiscing lit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. arius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies. 
            </text>
            <div id="proceed">
                <a>Proceed</a>
            </div>
        </div>
        <div class="form">
            <a>Counselee Feedback Form</a>
            <text class="desc">
                Sample text Lorem ipsum dolor sit amet, consectetuer adipiscing lit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. arius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies. 
            </text>
            <div id="proceed">
                <a>Proceed</a>
            </div>
        </div>

        <div class="clearfloat">
        </div>
            
        <div class="form">
            <a>College Life Symposium</a>
            <text class="desc">
                Sample text Lorem ipsum dolor sit amet, consectetuer adipiscing lit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. arius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies. 
            </text>
            <div id="proceed">
                <a>Proceed</a>
            </div>
        </div>
    </div>
</div>